<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<div w3-include-html="/layout/header.html"></div>

<body>
    <h1>Welcome Home Admin</h1>
    <div class="container container-fluid">
        <ul  class="list-group">
            <li class="list-group-item"><a href="/api/v2/category/list">Categories</a></li>
            <li class="list-group-item"><a href="/admin/registry/v2/users">Users</a></li>
            <li class="list-group-item"><a href="/admin/registry/v2/active-users">Active Users</a></li>
            <li class="list-group-item"><a href="/admin/registry/v2/active-users">Active Sessions</a></li>
            <li class="list-group-item"><a href="/admin/registry/v2/active-users/admin">Admin Sessions</a></li>
            <li class="list-group-item"><a href="/admin">Home</a></li>
        </ul>
    </div>

    <form  method="post" th:action="@{/logout}">
        <button type="submit" value="Sign Out" class="btn btn-primary">Sign Out</button>
    </form>

</body>
</html>
