<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Bootstrap CSS -->
    <link href="../content/libraries/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="../content/libraries/js/jquery.slim.min.js"></script>
    <script src="../content/libraries/js/popper.min.js"></script>
    <script src="../content/libraries/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Welcome Home</h1>

<form method="post" th:action="@{/logout}">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
